<ion-view view-title="Add activity">
  <ion-content class="padding">
    <button ng-click="InsertC.addBreastFeeding()" class="button button-block button-positive">
      Had breast
    </button>
    <button ng-click="InsertC.addFormula()" class="button button-block button-positive">
      Ate formula
    </button>
    <button ng-click="InsertC.addPee()" class="button button-block button-positive">
      Pee
    </button>
    <button ng-click="InsertC.addPoop()" class="button button-block button-positive">
      Poop
    </button>
  </ion-content>
</ion-view>
