<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Log" on-select="LogC.logTabSelected()" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/log">
    <ion-nav-view name="tab-log"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Insert" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/insert">
    <ion-nav-view name="tab-insert"></ion-nav-view>
  </ion-tab>

</ion-tabs>
